.padre{
    display: inline-flex;
    
    
}

@media (max-width: 1024px) {
    .padre {
        flex-wrap: wrap;
    }
    .navbar{
        width:100vh;
    }
    .card-body{
        width:100vh;
    }
    .col-md-5 {
        width:20px;
    }
}

.opciones{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 10%;
}
.opciones img{
    width: 240px;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(224, 236, 236);
}

