<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/resources/stylesheets/landing.css' />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1772257877.js" crossorigin="anonymous"></script>
</head>
<body>
  <script>
    function clearCarrito(){
  localStorage.removeItem('carrito')
}
  </script>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="/politicas">Politicas</a></li>
              <li class="nav-item"><a class="nav-link" href="/losproductos">Esencias/fragancias</a></li>
             
              
                <% if (login){%>
                  <li class="nav-item"><a class="nav-link" href="/carrito">Facturas</a></li>
                  <% if(rol==="administrador"){%>
                    <li class="nav-item"><a href="config" class="nav-link">Config</a></li>
                    <% } %>

                        <% if(rol==="vendedor"){%>
                        <li class="nav-item"><a href="configvendedor" class="nav-link">Config</a></li>
                        <% } %>  

                  <li class="nav-item"><a class="nav-link active" href="#"><%=name%></a></li>
                  <li class="nav-item"><a href="logout" onclick="clearCarrito()" class="nav-link">Logout</a></li>

                <% } else { %>
                  <li class="nav-item"><a class="nav-link" href="#"><%=name%></a></li>
                  <li class="nav-item"><a href="formulario" class="nav-link active">Ir a Login</a></li>
                  <% } %> 
                </ul>
        </div>
  </div>
</nav>


<div class="header-cont">
        <h2>Todo es posible no te detengas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.</p>
        <div class="wrap">
          <% if (login ==false){%>
            <a href="/registro"><button class="button">Registrarse</button></a>
          <% } else { %>
            
            <% } %> 
        </div>
</div>
</header>   



<div id="a">
   <img src="/resources/images/producto1.1.jpg" alt="">
   <img src="/resources/images/producto1.2.jpg" alt="">
   <img src="/resources/images/nuevo.jpg"alt="">
</div>

<div class="titulos">
    <h2>Calidad</h2>
    <h2>Diferencia</h2>
    <h2>Innovacion</h2>
</div>

<div class="textos">
    <div class="palabras">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.</p>
    </div>

    <div class="palabras">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.</p>
    </div> 
    
    <div class="palabras">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae explicabo dolor cupiditat.</p>
    </div>
</div>


<footer>
    <div class="iconos">
        <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
      </div>

    <div class="partes">
        <a href="/">Inicio</a>
        <a href="/acercade">Acerca de</a>
        <a href="/politicas">Políticas</a>
        
    </div>
    
<div class="derechos"> &copy; 2021 Shara, reservados todos los derechos. </div>
</footer>



</body>
</html>